# Configuración del servidor
PORT=3000
NODE_ENV=development
SERVER_URL=http://localhost:3000

# Token de autorización para Academic API
ACADEMIC_API_TOKEN=tu_token_aqui

# URL base de Academic API
ACADEMIC_API_URL=https://apis.academic.lat/v3

# MIT Webpay PLUS (proporcionados por MIT en sesión de inicio)
MIT_AES_KEY=
MIT_DATA0=
MIT_ID_COMPANY=
MIT_ID_BRANCH=
MIT_USER=
MIT_PWD=
MIT_URL_QA=https://qa5.mitec.com.mx/p/gen
MIT_URL_PROD=https://bc.mitec.com.mx/p/gen
MIT_WEBHOOK_URL=
