# Configuración del servidor
PORT=3000
NODE_ENV=development

# Token de autorización para Academic API
ACADEMIC_API_TOKEN=tu_token_aqui

# URL base de Academic API
ACADEMIC_API_URL=https://apis.academic.lat/v3
